* {
	box-sizing:border-box;
}

html, body {
  height: 100vh;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	padding: 2rem;
	margin: 0;
	font-size: 1.3rem;
	color: #444444;
	display: flex;
	flex-direction: column;
}

button, select, span.label {
	outline: 0;
	border: 0;
	font-size: 1rem;
}

input {
	padding: .5rem;
	border-radius: 2px;
	outline: 0;
	border: 1px #DDDDDD solid;
}

select {
	border: 1px #DDDDDD solid;
	margin: 0 1rem;
}

button {
	background: #DDDDDD;
	transition: background .2s ease;
	border-radius: 2px;
	font-size: 1rem;
	padding: .5rem 1rem;
}

button:hover {
	background: #69F0AE;
	cursor: pointer;
}

input {
	font-size: 1rem;
}

input:focus {
	outline: 0;
}

a {
	text-decoration: none;
	color: #444444;
}

#header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	justify-content: space-between;
}

#header a {
	font-weight: bold;
	font-size: 1.3rem;
}

#board {
	width: 100%;
	display: flex;
	border: 1px #DDDDDD solid;
	border-radius: 2px;
	flex: 1;
}

.row {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.word {
	align-self: center;
	flex: 1;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px #DDDDDD solid;
	font-weight: bold;
	width: 100%;
	line-height: 100%;
	display: flex;
	align-items: center;
	transition: background .2s ease;
}

.word > div {
	margin: 0 auto;
	transition: transform .2s ease;
	padding: 0 1.5rem;
	line-height: 1.25;
}

.word:hover {
	background: #DDDDDD;
}

.word:hover > div {
	transform: scale(1.15);
}

#spymaster {
}

#seed {
}

#gameMode {
}

#reset {
}

#google_translate_element {
}

.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.score-container {
	font-weight: bold;
}

.blueStart #redScore {
	border-color: white;
}

.redStart #blueScore {
	border-color: white;
}

.red-team, .red-team:hover { 
  background: #FF8A80;
}

.blue-team, .blue-team:hover {
  background: #82B1FF;
}

.neutral, .neutral:hover {
  background: #FFFF8D;
}

.bomb, .bomb:hover {
  background: #BDBDBD;
}

.guessed, .guessed:hover {
  background: #69F0AE;
}

.score-item {
	border: white 2px solid;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	padding: .25rem;
	display: block;
	float: left;
	text-align: center;
	line-height: 2.25rem;
}

#redScore{
	color: #FF5252;
	margin-right: 1rem;
	border-color: #FF8A80;
}

#blueScore{
	color: #448AFF;
	border-color: #82B1FF;
}
